*.keystore
*.log
*.sqlite

*.aab
*.apk
*.hprof
*.iml
*.iml
*.jks
.DS_Store
.cxx
.cxx/
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.idea/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
build/
captures/
deploymentTargetDropDown.xml
google-services.json
local.properties
local.properties
misc.xml
output-metadata.json
render.experimental.xml
